@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {

    /* ====== font ===== */
    --font-karla: 'Karla', sans-serif;

    /* ======= colors ======= */
    --color-darkBlue: #000029;
    --color-lightBlue: #4c4c69;
    --color-veryLightBlue: #cbcbd4;
    --color-customGray: #cbcbd4;
    --color-gold: #ffd900;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-karla);
}
