@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {

    /* ====== font ===== */
    --font-karla: 'Karla', sans-serif;

    /* ======= colors ======= */
    --color-darkBlue: #000029;
    --color-lightBlue: #4c4c69;
    --color-veryLightBlue: #cbcbd4;
    --color-customGray: #cbcbd4;
    --color-gold: #ffd900;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-karla);
    overflow-x: hidden;
}


/* Custom scrollbar styles */
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #94a3b8 #1e293b;
    /* thumb | track */
}

/* WebKit for Chrome, Edge, Safari */
.scrollbar-custom::-webkit-scrollbar {
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #1e293b;
    border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
}