@import "tailwindcss";

body {
    padding: 0;
    margin: 0;
}

@theme {

    /* ======= colors ======= */
    --color-darkBlue: #000029;
    --color-lightBlue: #4c4c69;
    --color-customGray: #cbcbd4;
}